.ball{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 1s ease-in-out 0.2s;
    position: relative;
    overflow: hidden;
    
}
.ball:hover{
    box-shadow: 2px 4px 16px gold;
    transform: rotate(360deg) scale(1.1);
}
.ball::before{
    content: " ";
    height: 150px;
    width: 7px;
    display: block;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 42px;
    top: -25px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}